<!DOCTYPE html>
<html>
<head>
    <title>Ma Page Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="headerContainer">
        <header>

            <h1>Logo</h1>
            <ul>
                <li><a href="">WHAT</a></li>
                <li><a href="">WHY</a></li>
                <li><a href="">HOW</a></li>
                <li><a href="">SUBSCRIBE</a></li>
            </ul>

        </header>
    </div>

    <main>

        <section class="heroSection">
            <div class="backgroundImage first"></div>
            <div class="backgroundImage second"></div>

            <div class="counterContainer">
                <p class="remainingTime">Remaining before the end of humanity in <select name="country" id="country">
                    <option value="France">France</option>
                    <option value="Madagascar">Madagascar</option>
                    <option value="Togo">Togo</option>
                    <option value="Algérie">Algérie</option>
                    <option value="Burkina Faso">Burkina Faso</option>
                    <option value="Italie">Italie</option>
                    <option value="Corée">Corée</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Tchétchénie">Tchétchénie</option>
                    <option value="Maurice">Maurice</option>
                    <option value="Chine">Chine</option>
                    <option value="Liban">Liban</option>
                    <option value="Marocain">Marocain</option>

                </select></p>
                <div class="counter">
                    <p>Années</p>
                    <p>Mois</p>
                    <p>Jours</p>
                    <p>Heures</p>
                    <p>Minutes</p>
                    <p>Secondes</p>
                
                    <p>15 08 27 19 55 03</p>

                </div>

            </div>

            <a href="">See more</a>


        </section>

        <section class="map">

            <select name="filter" id="filter">
                <option value="">Effects on human health</option>
                <option value="">Pollution and climate changes</option>
                <option value="">Biodiversity and alimentary security</option>
                <option value="">Plastic pollution</option>
            </select>

        </section>

        <section class="importantFacts">

            <div class="fact">
                <h3>Morts prématurés</h3>
            </div>
            <div class="fact">
                <h3>Plomb dans le cerveau</h3>
            </div>
            <div class="fact">
                <h3>Plastique dans le corps humain</h3>
            </div>
            <div class="fact">
                <h3>RÉduction de l'espérance de vie</h3>
            </div>
            <div class="fact">
                <h3>Effets du changement climatique</h3>
            </div>


        </section>

        <section class="factsGraphs">

            <div class="graph">

            </div>
            <div class="graph">

            </div>
            <div class="graph">

            </div>
            <div class="graph">

            </div>
        </section>

        <section class="why">

            <p>WHY ?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, quis cupiditate quasi sequi doloribus accusamus quae optio facilis esse nulla minus a ipsum perspiciatis dignissimos voluptatibus. Praesentium deserunt sit aperiam.</p>

        </section>

        <section class="whyGraphs">

            <div class="graph">

            </div>

            <div class="graph">

            </div>

            <div class="graph">

            </div>

        </section>

        <section class="mainActors">
                <div class="country" style="background: linear-gradient(to right, #c41313 32.9%, #2E2E2E 100%)">
                    <p>32.9%</p>
                    <p class="countryName">CHINA</p>
                </div>
                <div class="country" style="background: linear-gradient(to right, #c43c13 12.6%, #2E2E2E 100%)">
                    <p>12.6%</p>
                    <p class="countryName">USA</p>
                </div>
                <div class="country" style="background: linear-gradient(to right, rgb(207, 129, 40) 7%, #2E2E2E 70%)">
                    <p>7%</p>
                    <p class="countryName">INDIA</p>
                </div>
                <div class="country" style="background: linear-gradient(to right, #c4a413 5.1%, #2E2E2E 50%)">
                    <p>5.1%</p>
                    <p class="countryName">RUSSIA</p>
                </div>
                <div class="country" style="background: linear-gradient(to right, #b2c413 2.9%, #2E2E2E 40%)">
                    <p>2.9%</p>
                    <p class="countryName">JAPAN</p>
                </div>
                <div class="country" style="background: linear-gradient(to right, #80c413 1.9%, #2E2E2E 30%)">
                    <p>1.9%</p>
                    <p class="countryName">IRAN</p>
                </div>
                <div class="country" style="background: linear-gradient(to right, #28c413 1.8%, #2E2E2E 25%)">
                    <p>1.8%</p>
                    <p class="countryName">DEUTSCHLAND</p>
                </div>
                <div class="country" style="background: linear-gradient(to right, #31c413 1.7%, #2E2E2E 25%)">
                    <p>1.7%</p>
                    <p class="countryName">SOUTH KOREA</p>
                </div>
                <div class="country" style="background: linear-gradient(to right, #19c413 1.6%, #2E2E2E 20%)">
                    <p>1.6%</p>
                    <p class="countryName">INDONESIA</p>
                </div>
                <div class="country" style="background: linear-gradient(to right, #13c413 1.5%, #2E2E2E 20%)">
                    <p>1.5%</p>
                    <p class="countryName">SAUDI ARABIA</p>
                </div>
        </section>

        <section class="howToStop">

            <div class="action">

            </div>
            <div class="action">

            </div>
            <div class="action">

            </div>
            <div class="action">

            </div>

        </section>

        <section class="idea">

            <h3>Give us your idea to avoid humanity extinction</h3>

            <form action="">
                <input type="text" placeholder="Email">
                <textarea name="idea" id="idea" placeholder="Give us your idea"></textarea>
            </form>
        </section>


    </main>

    <footer>

        <p>©... Copyrights 2025</p>

    </footer>
    <h1></h1>
</body>
</html>


